.DropDown {
  display: inline-block;
  position: relative;
}

.DropDown .DropDownMenu {
  position: absolute;
  background: #fff;
  border: 1px solid #dddddd;
  z-index: 5;
  min-width: 200px;
  right: 0px;
}

.DropDownMenu.State-true {
  display: block;
}

.DropDownMenu.State-false {
  display: none;
}

.DropDownOverlay.State-true {
  display: block;
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.DropDownOverlay.State-true:hover {
  cursor: auto;
}

.DropDownOverlay.State-false {
  display: none;
}

.DropDownItem {
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 39px;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  background-position: 5px 50%;
  height: 35px;
  line-height: 30px;
}

.DropDownItem.Delete {
  background-image: url('../../images/icons/delete.svg');
}

.DropDownItem.MoveUp {
  background-image: url('../../images/icons/arrow-up-bold-808080.svg');
}
  
.DropDownItem.MoveDown {
  background-image: url('../../images/icons/arrow-down-bold-808080.svg');
}
  
.DropDownItem:not(.Disabled):hover {
  cursor: pointer;
  /*background-image: url('../../images/icons/delete-red.svg');*/
}

.DropDownItem:hover {
  cursor: auto;
  background-color: #eeeeee;
}