.ProfilePicContainer {
  margin: 3px 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  position: relative;
}

.ProfilePicContainer img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.ProfilePicContainer:hover {
  cursor: pointer;
}

.ProfilePicContainer:hover .ProfilePicText {
  display: block;
}

.ProfilePicText {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.ModifyProfile .btn, .ModifyPassword .btn {
  margin-left: 10px;
}

.ModifyProfile .chips {
  margin-top: 10px;
}
