.Category .Name {
  border-bottom: 1px dashed #808080;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.ResultRow div {
  display: inline-block;
}

.ResultRow .row {
  width: 100%;
  margin-bottom: 5px;
}

.ResultRow .col {
  line-height: 40px;
  font-size: 15px;
}

.ResultRow .Ranking {
  width: 40px;
  height: 40px;
  text-align: center;
  color: #F38630;
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #333;
  font-weight: 400;
}

.ResultRow .Name {
  margin-left: 0.75rem;
  border-bottom: none;
}

.ResultRow .Points {
  float: right;
  text-align: right;
}

.Results .Expand {
  text-align: center;
  font-size: 12px;
}

.Results .Expand:hover {
  text-decoration: underline;
  cursor: pointer;
}
