.CreateGym .Content-Area {
  padding-top: 0;
  padding-bottom: 0;
}

.CreateGym .Form {
  padding: 20px 15px;
}

.CreateGym .Help {
  background-color: #f6f6f6;
  border-left: 1px solid #e0e0e0;
  padding: 20px 15px;
  font-size: 12px;
}

.CreateGym .chips {
  margin-top: 10px;
}

.CreateGym .MapInput {
  margin-top: 10px;
}

.CreateGym .Form-Container .row {
  margin-bottom: 0;
}

.CreateGym .Form-Container .Actions {
  margin-top: 20px;
}
