.Sign {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.Cover {
  background-color: #fcb633;
  height: 100%;
  display: table-cell;
  width: 45%;
  vertical-align: top;
  padding: 50px 75px;
  position: relative;
}

.CoverContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Content {
  height: 100%;
  display: table-cell;
  width: 55%;
  padding: 50px;
}

.Content .Heading {
  text-align: left;
}

.Content .Title {
  color: #fcb633;
  font-size: 26px;
}

.Content .Alternative {
  font-size: 14px;
  color: #999999;
}

.Content .Alternative:hover {
  cursor: pointer;
}

.Content .HeadingDivider {
  font-size: 14px;
  color: #999999;
  margin-left: 10px;
  margin-right: 5px;
}

.SignContainer {
  background-color: #ffffff;
  max-width: 850px;
  width: 95%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 2px;
  position: relative;
  display: table;
}

.SignContainer .Logo {
  background-image: url(../../images/climbs_logo_light_2.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  color: #f6f1e6;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 54px;
  flex-grow: 1;
}

.SignContainer .Footer {
  color: #f6f1e6;
}

.SignContainer .Form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.SignContainer .Form input {
  background-color: #ffffff;
  border-bottom: 1px solid #999999;
  height: 2rem;
  margin: 0;
}

.SignContainer .Form .row {
  margin-bottom: 10px;
}

.SignContainer button {
  width: 100%;
  font-size: 12px;
  margin-top: 12px;
  box-shadow: none;
}

.FormDivider {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 25px;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 25px;
  position: relative;
  justify-content: center;
  display: flex;
}

.FormDivider div {
  width: 30px;
  background-color: #fff;
  margin-top: -10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #dfdfdf;
}

.FacebookLogin {
  cursor: pointer;
  height: 36px;
  border-radius: 2px;
  background-color: #3f5b96;
  text-align: center;
  margin: 0 0.75rem;
}

.FacebookLogin img {
  max-height: 36px;
}

.ForgotPassword {
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #dfdfdf;
  cursor: pointer;
  line-height: 26px;
  padding-top: 6px;
}

.ForgotPassword:hover {
  color: #888;
}

.ForgotPassword a {
  color: #fcb633;
}

/* label underline focus color */
.SignContainer .Form input[type=text]:focus, .SignContainer .Form input[type=password]:focus {
  border-bottom: 1px solid #fcb633;
  box-shadow: 0 1px 0 0 #fcb633;
}

.Sign input[type=text]+label:after, .Sign  input[type=password]+label:after {
  top: -27px;
  font-size: 12px;
}
