.RouteSettersView .Content-Area {
  padding-top: 0;
  padding-bottom: 0;
}

.RouteSettersList {
  padding-bottom: 0.75rem;
}

.RouteSettersView label {
}

.RouteSettersView .row {
  padding: 10px 15px;
}

.RouteSettersList li:nth-child(even) {
  background-color: #fafafa;
}

.RouteSettersView .Help {
  background-color: #f6f6f6;
  border-left: 1px solid #e0e0e0;
  padding: 20px 15px;
  font-size: 12px;
}

.RouteSetterPicture {
  width: 40px;
  height: 40px;
  background-color: #808080;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
}

.RouteSettersListLabel {
  padding-left: 15px;
  margin-left: 0.75rem;
}

.RouteSetterPicture.Empty {
  background-size: 34px;
  background-position: center;
  background-image: url('../../../images/icons/camera-off-333333.svg');
  opacity: 0.6;
}

.RouteSetterInfo, .RouteSetterActions {
  height: 40px;
  vertical-align: middle;
  margin-right: 0.75rem;
}

.RouteSetterActions .Action {
  height: 40px;
}

.RouteSetterInfo .Registered {
  color: #808080;
  font-size: 12px;
  line-height: normal;
}

.RouteSettersView li {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.RouteSetterInfo {
  flex-grow: 1;
}
