.TextField {
  width: 100%;
  font-size: 1rem;
  margin: 5px 0 10px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
}

.ProfilePicContainer {
  margin: 3px 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  position: relative;
}

.ProfilePicContainer img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}
