.ChipContainer {
  display: inline-block;
  position: relative;
}

.ChipContainer:hover .Tooltip {
  display: block;
}

.chip:hover {
  cursor: pointer;
}

.chip.selected:hover {
  cursor: default;
}

.ChipOrder {
  position: absolute;
  left: -7px;
  top: -3px;
  background-color: red;
  border: 1px solid white;
  color: white;
  font-size: 8px;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
