.FutureEventItem {
  padding: 15px;
  display: flex;
}

.FutureEventItem .EventActions {
  margin-left: auto;
}

.FutureEventItem .EventHeading {
  font-size: 18px;
  min-height: 40px;
  color: #333;
}

.FutureEventItem .EventHeading .EventDate {
  font-size: 12px;
  color: #808080;
  padding-left: 10px;
}

.FutureEventItem .Subheading {
  font-size: 14px;
  color: #808080;
}

.RegistrationInfo {
  margin-top: 3px;
  font-size: 12px;
  color: #808080;
  text-align: center;
}
