.Img.Nav-item {
  line-height: 30px;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  display: block;
  padding: 0;
  background-size: cover;
  background-position: center;
}

.Img.Nav-item:hover {
  border-bottom: 0;
}

