.Nav-item {
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-right: 25px;
}

.Nav-item a {
  line-height: 30px;
  height: 26px;
  border-bottom: 2px solid #fcb633;
  color: #ffffff;
}

.Nav-item:hover {
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}

.Nav-item.selected {
  border-bottom: 2px solid #ffffff;
}
