.Climbs-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fcb633;
  padding: 10px;
  z-index: 2;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}

.Header-logo {
  height: 25px;
  background-image: url(../../images/climbs_logo_light_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 15px;
  width: 150px;
}

.Climbs-header .Action span {
  color: #fff5c4;
  font-size: 10px;
  align-self: flex-end;
}

.Navigation {
  position: absolute;
  top: 15px;
  left: 150px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.SubNavigation {
  position: absolute;
  top: 12px;
  right: 0;
  height: 30px;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.Navigation-list, .SubNavigation-list {
  margin: 0;
}

.Navigation-list li {
  display: inline;
}
