.SubNavDivider {
  margin: 4px 0 4px 0;
  border-top: 1px solid #ddd;
}

.SubNavSelector {
  line-height: 40px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.SubNavSelector > * {
  vertical-align: middle;
}

.SubNavSelector .logo {
  margin-right: 12px;
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.55);
}

.SubNavHeader {
  margin-top: 25px;
  margin-bottom: 2px;
  font-size: 12px;
  color: #616161;
}

.SubNavItem {
  padding-left: 16px;
  padding-right: 12px;
  cursor: pointer;
  font-size: 13px;
}

.SubNavOptions .SubNavItem {
  padding-left: 8px;
  margin-left: 8px;
  padding-right: 0;
  font-size: 12px;
  font-weight: normal !important;
}

.SubNavItem.active span {
  font-weight: 900;
  color: #333;
}

.SubNavItem a {
  display: flex;
  align-items: center;
}

.SubNavSelector.Selectable:hover {
  margin-left: -15px;
  padding-left: 15px;
  cursor: pointer;
  text-decoration: underline;
}

.SubNavItem:not(.active):hover, .SubNavSelector.Selectable:hover {
  background-color: rgba(0,0,0,.03);
  border-radius: 2px;
}

.SubNavItem span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 24px;
  white-space: nowrap;
  flex: 1;
  line-height: 40px;
  color: #616161;
}

.SubNavOptions .SubNavItem span {
  padding-left: 12px;
}

.SubNavOptions .SubNavItem-img {
  height: 20px;
  width: 20px;
}

.SubNavItem-img {
  height: 24px;
  width: 24px;
  line-height: 40px;
}
