.OverlayPicture {
  max-width: 100%;
  max-height: 100%;
}

.NoPicture {
  width: 100%;
  height: 150px;
  border: 1px solid #e0e0e0;
  background-image: url('../../../../images/icons/camera-off-e0e0e0.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  border-radius: 2px;
}
