.Overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(10,10,10,.6);
}

.Overlay-Content {
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.45);
  margin: 0 auto;
  width: 100%;
  position: relative;
  max-height: 100%;
  min-height: 100%;
}

.Overlay-Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #fcb633;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 50px;
}

.Overlay-Header img {
  vertical-align: middle;
  margin-right: 15px;
  margin-bottom: 3px;
  width: 24px;
  height: 24px;
}

.Overlay-Title {
  display: inline-block;
}

.Overlay-Actions {
  float: right;
}

.Overlay-Actions img {
  cursor: pointer;
  margin-right: 0;
}

.Overlay-Title {
  vertical-align: middle;
  font-size: 16px;
}

.Overlay-Form {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.Overlay-Form .Form-Container {
  min-height: 100%;
}

.Overlay-Form .row {
  margin-bottom: 0;
}

.Overlay-Form .Form {
  padding: 20px 15px;
}

.Overlay-Form .Help {
  background-color: #f6f6f6;
  border-left: 1px solid #e0e0e0;
  padding: 20px 15px;
  font-size: 12px;
}

.Overlay-Form .Help p:first-of-type {
  margin-top: 0;
}

.Overlay-Form select {
  border-color: #9e9e9e;
  border-radius: 1px;
}

.Overlay-Form .chips {
  margin-top: 10px;
}

.Overlay-Form a.btn {
  margin-right: 15px;
}

.Overlay-Form a:not(.btn):hover {
  cursor: pointer;
  text-decoration: underline;
}

.subtitle {
  color: rgb(106, 48, 6);
  font-size: 12px;
  margin-left: 15px;
  font-style: italic;
}

.Overlay-Footer button:not(:first-child) {
  margin-left: 15px;
}

.Overlay-Form .DateInput {
  font-size: 16px;
  padding-left: 0;
}

.Overlay-Form .DateInput__display-text {
  padding-left: 0;
}

.Overlay-Form .DateInput__display-text--focused {
  background: #fcb633;
  border-color: #fcb633;
  color: #ffffff;
  padding-left: 4px;
  text-align: center;
}

.Overlay-Form .CalendarDay--selected {
  background: #fcb633;
  border: 1px double #fcb633;
  color: #ffffff;
}

.Overlay-Form .SingleDatePickerInput {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #9e9e9e;
}

.Overlay-Form button:focus {
  background: #fcb633;
}