.OverlayContainer {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(10,10,10,.6);
}

.OverlayContainer-Content {
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.45);
  margin: 0 auto;
  width: 80%;
  position: relative;
  max-height: 100%;
  min-height: 100%;
}

.OverlayContainer-Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #fcb633;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 50px;
}

.OverlayContainer-Header img {
  vertical-align: middle;
  margin-right: 15px;
  margin-bottom: 3px;
  width: 24px;
  height: 24px;
}

.OverlayContainer-Title {
  display: inline-block;
}

.OverlayContainer-Actions {
  float: right;
}

.OverlayContainer-Actions img {
  cursor: pointer;
  margin-right: 0;
}

.OverlayContainer-Title {
  vertical-align: middle;
  font-size: 16px;
}

.OverlayContainer-Form {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  min-height: 100%;
}
