.OverlaySnackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff5c4;
  font-size: 12px;
  background: rgba(152, 63, 0, 0.8);
  overflow: hidden;
  max-height: 0px;
  transition: all 0.25s ease-in;
  z-index: 3;
}

.OverlaySnackbar .Snack {
  padding-left: 15px;
  padding-right: 15px;
}

.OverlaySnackbar .Snack:first-child {
  padding-top: 15px;
}

.OverlaySnackbar .Snack:last-child {
  padding-bottom: 15px;
}

.OverlaySnackbar.Active {
  max-height: 150px;
  transition: all 0.25s ease-out;
}

.SnackAction {
  float: right;
  cursor: pointer;
}
