.Dialog {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(10,10,10,.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dialog-Wrapper {
  max-width: 400px;
  min-width: 300px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.45);
  margin: 0 auto;
  border-radius: 2px;
}

.Dialog-Header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #fcb633;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 50px;
  display: flex;
}

.Dialog-Header img {
  vertical-align: middle;
  margin-bottom: 3px;
  width: 24px;
  height: 24px;
}

.Dialog-Title img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.Dialog-Title {
  align-self: flex-start;
}

.Dialog-Header-Actions {
  margin-left: auto;
  align-self: flex-end;
}

.Dialog-Header-Actions img {
  cursor: pointer;
}

.Dialog-Title {
  font-size: 16px;
}

.Dialog-Content {
  padding: 8px 15px;
}

.Dialog-Actions {
  padding: 8px 15px;
  display: flex;
}

.Dialog-Actions button {
  flex: 1;
  margin: 0 10px;
  background-color: #fff;
}
