.InfoContainer {
  padding: 15px;
}

.InfoContainer .Number {
  min-width: 60px;
  display: inline-block;
  font-size: 30px;
  text-align: right;
  padding-right: 8px;
}

.NoData {
  height: 250px;
  text-align: center;
  margin-top: 115px;
}