ul#Routes {
  margin: 0;
}
.RouteListElement.RouteListHeader, .ListHeading {
  text-transform: uppercase;
  color: #808080;
  border-bottom: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.RouteListHeader .Sortable:hover {
  cursor: pointer;
  color: #333;
}

.RouteListHeader .Sorted {
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left;
  overflow: hidden;
  text-decoration: underline;
}

.RouteListHeader .Sorted span {
  padding-left: 16px;
  overflow: hidden;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
}

.RouteListHeader .Sorted.DESC {
  background-image: url('../../../images/icons/sort-descending-808080.svg');
}

.RouteListHeader .Sorted.ASC {
  background-image: url('../../../images/icons/sort-ascending-808080.svg');
}

.Sorting, .Filters, .Filters label {
  font-size: 12px;
}

.Sorting a {
  color: #333;
  padding-left: 20px;
}

.Sorting .selected {
  background: url('../../../images/icons/chevron-right.svg');
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.Sorting a:not(.selected):hover {
  text-decoration: underline;
}

.FilterDivider {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background: #e0e0e0;
}

.RouteAge .chip {
  height: 24px;
  line-height: 26px;
}

.RouteAge .Late {
  background: url('../../../images/icons/alert-octagon-fb6a01.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.RouteAge .SoonLate {
  background: url('../../../images/icons/alert-fbf25b.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.RouteStar {
  background: url('../../../images/icons/star-fb6a03.svg');
  height: 15px;
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.RoutesList .SelectableFilter [type="checkbox"]+label {
  padding-left: 25px;
  color: #333;
  line-height: 24px;
  height: 20px;
}

.RoutesList .SelectableFilter [type="checkbox"]:checked+label:before {
  border-bottom: 2px solid #fcb633;
  border-right: 2px solid #fcb633;;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  height: 13px;
  width: 8px;
  left: -2px;
  top: 0px;
}

.RoutesList .SelectableFilter [type="checkbox"]+label:before,
.RoutesList .SelectableFilter [type="checkbox"]:not(.filled-in)+label:after {
  width: 14px;
  height: 14px;
  margin-top: 4px;
  border: 1px solid #5a5a5a;
}

.ListHeading {
  margin-bottom: 11.5px;
}

.ListHeading:not(:first-child) {
  margin-top: 11.5px;
}

.RouteListElement {
  display: flex;
  height: 45px;
  align-items: center;
}

.NoRoutesListElement .NoRoutes {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.RouteListElement > div {
  flex-grow: 1;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.RouteListElement .Route .RouteLine {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 26px;
  font-size: 12px;
  background-color: #eeeeee;
  border-radius: 15px;
  color: #333;
}

.RouteColor .RouteGrade {
  /*mix-blend-mode: difference;*/
}

.RouteListElement .Route .RouteDivider {
  display: inline-block;
  font-size: 40px;
  vertical-align: middle;
  color: #ddd;
}

.RouteListElement .Route .RouteColor {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 26px;
  font-size: 9px;
}

/* Show route created if we have "largest" screen */
@media (max-width: 1280px) {
  .RouteListElement .RouteCreated {
    display: none;
  }
}

/* Show route name if we have ought to have room for it */
@media (max-width: 1080px) {
  .RouteListElement .Name {
    display: none;
  }
}

@media (max-width: 900px) {
  .RouteListElement > div {
    font-size: 12px;
  }

  .RouteListElement .Route .RouteLine {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
  }

  .RouteListElement .Route .RouteDivider {
    font-size: 30px;
  }

  .RouteListElement .Route .RouteColor {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
  }

  .RouteStar {
    height: 10px;
    width: 10px;
  }

  .RouteAge .chip {
    height: 18px;
    font-size: 10px;
    line-height: 18px;
  }

  .RouteAge .Late, .RouteAge .SoonLate {
    background-size: 18px 18px;
    padding-right: 20px;
  }
}

.RouteTags {
  line-height: 26px;
}

.RouteTag {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  text-align: center;
  border: 1px solid #333;
  margin-right: 2px;
  display: inline-block;
}

.RouteTag.ROUTE_STYLE_ARETE {
  background-color: #9b59b6;
  color: #e6d6ed;
}

.RouteTag.ROUTE_STYLE_CRIMPS {
  background-color: #27ae60;
  color: #c9ebd8;
}

.RouteTag.ROUTE_STYLE_DYNO {
  background-color: #ff5f27;
  color: #ffd7c9;
}

.RouteTag.ROUTE_STYLE_PINCHES {
  background-color: #2980b9;
  color: #cae0ee;
}

.RouteTag.ROUTE_STYLE_POCKETS {
  background-color: #f39c12;
  color: #fce7c4;
}

.RouteTag.ROUTE_STYLE_TRAVERSE {
  background-color: #ff5f91;
  color: #ffd7e4;
}

.RouteTag.ROUTE_STYLE_UNDERCLINGS {
  background-color: #ffffff;
  color: #7e7e7e;
}

.RouteTag.ROUTE_STYLE_SLOPERS {
  background-color: #000000;
  color: #c8c8c8;
}

.RouteTag.ROUTE_STYLE_CIRCUIT {
  background-color: #ffbf77;
  color: #ffefdd;
}

.RouteTag.ROUTE_STYLE_MANTLE {
  background-color: #fbf25b;
  color: #77675f;
}

.RouteTag.ROUTE_STYLE_POWER {
  background-color: #bdc3c7;
  color: #eff0f1;
}

.RouteTag.ROUTE_STYLE_ENDURANCE {
  background-color: #69d2e7;
  color: #eff0f1;
}
