.WallNotification {
  margin-left: 10px;
  margin-right: 10px;
  border-left: 4px solid #C2C99E;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.WallNotification .WallInfo {
  width: 100%;
}

.WallNotifications .AreaName {
  color: #808080;
}

.WallNotifications .AreaName, .WallNotifications .WallName {
  display: inline-block;
}

.WallNotifications .RouteDivider {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  color: #ddd;
  margin-left: 10px;
  margin-right: 10px;
}

.WallNotification button {
  float: right;
}

.WallNotification .NotificationAction {
  cursor: pointer;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  margin-left: 12px;
  background-image: url('../../../images/icons/check-808080.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right center;
  float: right;
}

.WallNotification .NotificationAction:hover {
  background-image: url('../../../images/icons/check-333333.svg');
}
