.Climbs-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #fcb633;
  padding: 10px;
}

.Header-logo {
  height: 44px;
  background-image: url(../../images/climbs_logo_light.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
