.Row.ViewHeader {
  margin-bottom: 10px;
}

.ViewHeader .HeaderText {
  display: inline-block;
}

.ViewHeader-Actions {
  display: inline-block;
  margin-left: 20px;
}

.ViewHeader-Actions .Action {
  display: inline-block;
  margin: 3px;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.ViewHeader-Actions .Action:hover {
  cursor: pointer;
}

.ViewHeader-Actions .Action.Delete {
  background-image: url('../../images/icons/delete.svg');
}

.ViewHeader-Actions .Action.Image {
  background-image: url('../../images/icons/image-808080.svg');
}

.ViewHeader-Actions .Action.Image:hover {
  background-image: url('../../images/icons/image-green.svg');
}

.ViewHeader-Actions .Action.MoveUp {
  background-image: url('../../images/icons/arrow-up-bold-808080.svg');
}

.ViewHeader-Actions .Action.MoveDown {
  background-image: url('../../images/icons/arrow-down-bold-808080.svg');
}
