.Action {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  background-position: 50% 50%;
  display: inline-block;
  position: relative;
}

.Action.More {
  background-image: url('../../images/icons/dots-vertical-808080.svg');
}