.PastEventItem {
  padding: 15px;
}

.PastEventItem .EventHeading {
  font-size: 18px;
  height: 40px;
  color: #333;
}

.PastEventItem .Subheading {
  font-size: 12px;
  color: #808080;
}

.PastEventItem {
  background-image: url(../../../images/icons/chevron-right.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.PastEventItem:hover {
  background-color: #e8e8e8;
  cursor: pointer;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.PastEventItem:first-child:hover {
  border-top: 1px solid #e8e8e8;
}

.PastEventItem:last-child:hover {
  border-bottom: 1px solid #e8e8e8;
}
