.Tooltip {
  display: none;
  position: absolute;
  z-index: 3;
  background-color: #282828;
  border-radius: 2px;
  top: -30px;
  color: #fff;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
  font-size: 12px;
  line-height: 1.5;
  padding: 2px 10px;
  text-align: center;
}

.Tooltip .Arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #282828;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -4px;
}

/* No parent selector, so list the use cases here. */
.Action:hover .Tooltip {
  display: block;
}
