body {
  margin: 0;
  padding: 0;
  font-family: proxima nova, Roboto, sans-serif;
  color: #333333;
  text-align: left;
  background-color: #f6f1e6;
}

body.noScroll {
  overflow: hidden;
}

input {
  outline-color: #69d2e7;
  outline-width: 1px;
}

select {
  margin-top: 5px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.Content-Area {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  padding-top: 15px;
  padding-bottom: 15px;
}

.PastEvents .Content-Area, .FutureEvents .Content-Area {
  padding-top: 0;
  padding-bottom: 0;
}

/* Materialize overrides */
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fcb633;
}
 /* label underline focus color */
.input-field input[type=text]:focus {
   border-bottom: 1px solid #fcb633;
   box-shadow: 0 1px 0 0 #fcb633;
}

input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb {
   background-color: #fcb633;
}

input[type=range]::-webkit-slider-thumb {
   background-color: #fcb633;
}

 .btn, .btn-large {
   background-color: #fcb633;
   color: #333333;
 }

 .btn:hover, .btn:focus {
   background-color: #fbcd88;
   box-shadow: none;
 }

 .btn-flat {
   background-color: #ffffff;
 }

 .chips .chip.selected {
   background-color: #fbcd88;
 }

 /* Flex grid */
 .Row {
   display: flex;
   flex-flow: row wrap;
 }

 .Col {
   flex: 1;
 }

 .S2 { flex-grow: 2; }
 .S10 { flex-grow: 10; }
 .S8 {
   flex-grow: 8;
 }

 .S4 {
   flex-grow: 4;
 }

.NoDataContainer {
  min-height: 150px;
  padding: 15px;
  display: flex;
  justify-content:center;
  align-items: center;
}
