.Wizard {
  text-align: left;
}

.Wizard h2 {
  font-size: 20px;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 5px;
}

.Wizard-steps {
  height: 100%;
}

.Wizard-content h2 {
  margin-top: 0;
}

.Wizard-content input, .Wizard-content select {
  height: 48px;
  line-height: 48px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  width: 100%;
  box-sizing: border-box;
}

.Wizard-steps {
  background-color: #f0eff5;
  padding-top: 30px;
  padding-left: 40px;
}

.Wizard-step {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}

.Wizard-buttons {
  text-align: right;
  margin-top: 2em;
}

.Wizard-step.active {
  font-weight: bold;
}

.Button {
  padding: 0.85em 1em;
  margin: 1rem;
}

.Button:hover {
  background-color: #a8dbdc !important;
  cursor: pointer;
}

.Button.primary {
  background-color: #69d2e7;
  color: #ffffff;
  font-weight: bold;
}
