.MapsPositionControl {
  background: url('../../images/icons/crosshairs-gps-666666.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  height: 28px;
  width: 28px;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.5;
  margin-right: 10px;
  margin-top: 5px;
}

.MapsPositionControl:hover {
  opacity: 1;
}
