#RouteManagementInfo {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.Area .Content-Area {
  padding-top: 0;
  padding-bottom: 0;
}

.Walls {
  background-color: #f6f6f6;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  flex-direction: column;
}

.Col ul {
  margin: 0;
}

.Walls li {
  padding: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
}

.WallsFooter {
  border-right: 1px solid #e0e0e0;
  flex: 1 1 auto;
}

/* Only show top border if selected is 2nd child. (After the button li-element) */
.Walls li.selected:nth-child(2) {
  border-top: 1px solid #e0e0e0;
}

.Walls li.selected {
  background-color: #fff;
  border-right: 0px solid #e0e0e0;
}

.Walls li.selected + li {
  border-top: 1px solid #e0e0e0;
  border-top-right-radius: 4px;
}

.Walls li.selectedBefore {
  border-bottom: 1px solid #e0e0e0;
  border-bottom-right-radius: 4px;
}

.Routes {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
}

.Routes li:first-of-type {
  padding: 0.75rem;
}

.WallsRoutes {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.WallsRoutes .row {
  margin-bottom: 0px;
}

/* Header actions */
.HeaderAction {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 4px;
}

.HeaderAction.disabled {
  cursor: not-allowed;
}

.Walls .HeaderAction:hover {
  background-color: #fff;
}

.Routes .HeaderAction:hover {
  background-color: #f2f2f2;
}

.HeaderAction div {
  vertical-align: middle;
}

.Walls .HeaderAction:hover {
  cursor: pointer;
}

.ActionDesc {
  font-size: 18px;
  margin-left: 0.75rem;
  display: inline-block;
  text-decoration: underline;
}

/* Walls */
.WallLine:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.WallLine .WallActions {
  opacity: 0;
}

.WallLine.selected .WallActions, .WallLine:hover .WallActions {
  display: inline-block;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.WallLine.selected:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.WallPicture {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #808080;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  margin-right: 0.75rem;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
}

.WallPicture.NoPic {
  background-size: 34px;
  background-position: center;
  background-image: url('../../../images/icons/camera-off-333333.svg');
  opacity: 0.6;
}

.WallPicture.NoPic:hover img {
  display: none;
}


.WallPicture img {
  display: none;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  opacity: 0.6;
}

.WallPicture:hover {
  cursor: pointer;
}

.WallPicture:hover img {
  display: inline-block;
}

.WallInfo {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.WallType {
  color: #808080;
  font-size: 12px;
  line-height: normal;
}

.WallActions {
  float: right;
  display: inline-block;
}

.WallInfo .InternalInfo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  width: 14px;
  height: 14px;
  margin-bottom: 2px;
  background-image: url('../../../images/icons/alert-octagram-fb6a01.svg');
  background-size: contain;
}

/* Route line */
.NoRoutes {
  color: #808080;
}

.RouteLineNumberHeader {
  border-bottom: 1px dashed #808080;
}

.RouteLine {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.RouteLinePart {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.RouteLineStart {
  white-space: nowrap;
  overflow: hidden;
}

.RouteColor {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-block;
}

.Transparent {
  background-image: 
    linear-gradient(45deg, #bfbfbf 25%, transparent 25%),
    linear-gradient(-45deg, #bfbfbf 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #bfbfbf 75%),
    linear-gradient(-45deg, transparent 75%, #bfbfbf 75%);

  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0;
}

.RouteInfo, .RouteCreation {
  margin-left: 0.75rem;
  display: inline-block;
  height: 40px;
  vertical-align: top;
}

.RouteDesc, .RouteSetterName {
  color: #808080;
  font-size: 12px;
  line-height: normal;
}

.RouteName.empty, .RouteDesc.empty {
  font-style: italic;
}

.RouteActions {
  float: right;
  display: inline-block;
}

.Routes .HeaderAction {
  display: inline-block;
  width: 50%;
}

.Action {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  background-position: 50% 50%;
  display: inline-block;
  position: relative;
}

.Action .ActionOpacityOverlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f6f1e6;
}

.WallsRoutes .ActionOpacityOverlay {
  background-color: #fff;
}

.Action.Disabled .ActionOpacityOverlay {
  display: inline-block;
  opacity: 0.5;
  cursor: auto;
}

.Action.Edit {
  background-image: url('../../../images/icons/pencil-box-outline.svg');
}

.Action.Edit:hover {
  cursor: pointer;
  background-image: url('../../../images/icons/pencil-box-outline-green.svg');
}

.Action.Delete {
  background-image: url('../../../images/icons/delete.svg');
}

.Action.Delete:not(.Disabled):hover {
  cursor: pointer;
  background-image: url('../../../images/icons/delete-red.svg');
}

.Action.Print {
  background-image: url('../../../images/icons/file-pdf.svg');
}

.Action.Print:hover {
  cursor: pointer;
  background-image: url('../../../images/icons/file-pdf-red.svg');
}

.Action.Goto {
  background-image: url('../../../images/icons/chevron-right.svg');
}

.Action.AddWall {
  background-image: url('../../../images/icons/plus-box.svg');
}

.Action.AddRoute {
  background-image: url('../../../images/icons/plus-circle.svg');
}

.Action.UndoLastDelete {
  background-image: url('../../../images/icons/undo.svg');
}

.ActionTooltip {
  display: none;
  position: absolute;
  z-index: 3;
  background-color: #282828;
  border-radius: 2px;
  top: -30px;
  color: #fff;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
  font-size: 12px;
  line-height: 1.5;
  padding: 2px 10px;
  text-align: center;
}

.ActionTooltip .Arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #282828;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -4px;
}

.Action:hover .ActionTooltip:not(.Disabled) {
  display: block;
}
