.Colors {
  padding-left: 30px;
}

.ColorInput {
  height: 28px;
  width: 28px;
  margin: 1px;
  display: inline-block;
  border: 1px solid #333;
}

.ColorInput:hover {
  cursor: pointer;
  border: 1px solid #69d2e7;
}

.GradeBallContainer {
  position: relative;
  width: 100%;
  display: inline-block;
}

.GradeBallColumn {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.GradeBallContainer:before {
  content: '';
  display: block;
  margin-top: 100%;
}

.GradeBall {
  width: 100%;
  border: 1px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.GradeBall .GradeBallContent {
  margin: auto;
  font-size: 22px;
  font-weight: bold;
}

.range-control:hover {
  cursor: pointer;
}

.NotMobileSafari .range-control {
  display: none;
}

.NotMobileSafari .Colors {
  padding-left: 0;
}

.range-control {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}

.range-control.StepUp {
  background-image: url('../../images/icons/step-forward-c2c0c2.svg');
}

.range-control.StepDown {
  background-image: url('../../images/icons/step-backward-c2c0c2.svg');
}

.input-field {
  display: flex;
}

.range-field {
  flex-grow: 1;
}