.Overlay-Footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.range-field {
  display: flex;
  flex-direction: row;
}

.range-field span {
  min-width: 100px;
  text-align: right;
  line-height: 35px;
}
